{% extends "layout.html" %}


{% block contenido %}
  <h1 class="container">Facturación</h1>
  <div class="container mt-5">
   <form>
     <div class="mb-3">
        <label for="nombre" class="form-label">Codigo de barras</label>
        <input type="text" class="form-control" id="nombre" placeholder="Lectura de codigo de barras">
      </div>
   </form>
  </div>


  <div class="container mt-5">
    <h2 class="mb-4">Nueva factura</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Código</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Precio Unitario</th>
                <th>Precio Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td><input type="number" class="form-control cantidad" value="2" min="1"></td>
                <td>Arroz diana 500 gr</td>
                <td><input type="number" class="form-control precio-unitario" value="10.50" min="0"></td>
                <td class="precio-total">21.00</td>
                <td><button onclick="editarFila()">Eliminar</button></td>
                
                
            </tr>
            <tr>
                <td>002</td>
                <td><input type="number" class="form-control cantidad" value="1" min="1"></td>
                <td>Avena quaker 500 gr</td>
                <td><input type="number" class="form-control precio-unitario" value="15.00" min="0"></td>
                <td class="precio-total">15.00</td>
                <td><button onclick="editarFila()">Eliminar</button></td>
            </tr>
            <tr>
                <td>003</td>
                <td><input type="number" class="form-control cantidad" value="3" min="1"></td>
                <td> Chocolate sol 500 gr </td>
                <td><input type="number" class="form-control precio-unitario" value="5.00" min="0"></td>
                <td class="precio-total">15.00</td>
                <td><button onclick="editarFila()">Eliminar</button></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>subtotal</td>
              <td>10500</td>
            </tr>
            
        </tbody>
    </table>
 </div>

 <div class="d-flex  justify-content-center">
  <button type="submit" class="btn btn-primary " >Imprimir factura</button> 
 </div>
 <br>
 <br>

 <div class="d-flex  justify-content-center">
    <a href="buscarfactura.html" class="btn background-color: btn-primary">Buscar factura</a>
  </div>
 
  <br>
  <footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2026 SI Markets. Todos los derechos reservados.</p>
  </footer>
  


{% enblock contenido%}
</body>
</html>