{% extends "layout.html" %}


{% block contenido %}
  <div class="container mt-5">
    <h2 style="text-align: center;">Nuevo usuario</h2>
    <form id="formUsuario" action="formulario_usuario.html" method="post" onsubmit="return validarFormulario()">


      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre completo"
          onblur="validarNombre()">
        <div class="invalid-feedback" id="errorNombre">El nombre es requerido (mínimo 3 caracteres)</div>
      </div>

      <div class="mb-3">
        <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="fechaNacimiento" name="fecha_nacimiento"
          onblur="validarFechaNacimiento()">
        <div class="invalid-feedback" id="errorFecha">Debes ser mayor de 18 años</div>
      </div>

      <div class="mb-3">
        <label for="cedula" class="form-label">Cédula</label>
        <input type="text" class="form-control" id="cedula" name="cedula" placeholder="123453123"
          onblur="validarCedula()">
        <div class="invalid-feedback" id="errorCedula">La cédula debe tener entre 8 y 12 dígitos</div>
      </div>

      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono" id="telefono" placeholder="303456123"
          onblur="validarTelefono()">
        <div class="invalid-feedback" id="errorTelefono">El teléfono debe tener 10 dígitos</div>
      </div>



      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="ejemplo@dyahoo.com"
          onblur="validarEmail()">
        <div class="invalid-feedback" id="errorEmail">Ingresa un email válido</div>
      </div>

      
      <div class="mb-4">
        <label for="area" class="form-label">Área</label>
        <select class="form-select" name="area" id="area" onblur="validarArea()">
          <option value="">Seleccione área</option>
          <option value="1">Jefe de inventarios</option>
          <option value="2">Cajero</option>
          <option value="3">Admin</option>
        </select>
        <div class="invalid-feedback" id="errorArea">Debes seleccionar un área</div>
      </div>

      <div class="mb-3">
        <label for="contraseña" class="form-label">Asignar contraseña</label>
        <input type="text" class="form-control" name="contraseña" id="contraseña" placeholder="Ej=Er43123">

      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
      </div>
    </form>
  </div>
  <br>
  <br>

      <br>
   </div>
     
          
{% endblock contenido %}        
</body>
</html>
