{% extends "layout.html" %}

{% block contenido %}
  <h1> {{ titulo }}</h1>
  <div class="row">
    <div class=" col d-flex text-center">
      <a href="crearnuevousuario.html" class="btn background-color: btn-primary"> Agregar nuevo usuario</a>
    </div>
  </div>
  <br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Cedula</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Area</th>
        <th scope="col">Acciones</th>

      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <th scope="row">{{usuario.id}}</th>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.fecha_nacimiento}}</td>
        <td>{{usuario.cedula}}</td>
        <td>{{usuario.telefono}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.area}}</td>
        <td>
          <form action="{{ url_for('editar_usuarios', id=usuario.id) }}" method="GET" style="display:inline;">
            <button type="submit" class="btn btn-sm btn-warning">Editar</button>
          </form>
          <form action="{{ url_for('eliminar_usuario', id=usuario.id)}}" method="POST" style="display:inline;">
          <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que deseas eliminar este usuario?')">Eliminar
          </button>
         </form>

        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  
   
  
 
    

  <footer class="bg-dark text-white text-center " style="background-color: #333; color: white;text-align: center; padding: 10px;position: fixed;bottom: 0; width: 100%;">
    <p>2026 SI Markets. Todos los derechos reservados.</p>
  </footer> 
 {% endblock contenido %} 
</body>
</html>
